{% extends 'base.html.twig' %}

{% set title = 'Graphique' %}
{% set item = 'graphique' %}

{% block body %}
  <div class="container-fluid">
    <h4 id="selected-counter">{{ projets|length }} sites</h4>
    
  </div>

{% endblock %}

{% block js %}
  
  <script>
  </script>

{% endblock %}