{% extends 'base.html.twig' %}

{% set title = 'Nouveau modèle' %}
{% set item = 'annuaire' %}

{% block body %}

  <div class="container">
    
    <h3>Nouveau modèle</h3>
    <hr>
    
    {{ form_start(form) }}
    {{ form_rest(form) }}

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> Valider</button>
      </div>
    </div>
    {{ form_end(form) }}
      
  </div>
{% endblock %}
